/* Custome stylesheet */

.spl--custom-font {
    font-family: "Montserrat", sans-serif;
}

.spl--custom-colors {
    background-color: black;
    color: #1fb0f5;
}

.spl--custom-colors2 {
    background-color: black;
    color: #ffffff;
}
.spl--custom-size {
    height: 12rem;
    width: 14rem;
}